body {
	padding: 60px 0 0 0;
	margin: 0;
}

.ow_site_panel {
	background: #2196F3 url('http://spod.routetopa.eu/ow_static/themes/rtpa_matter/images/logo.png') .5em 50% no-repeat;
	min-height:60px;
}

.ow_console_right {
	margin-top: 0;
	padding-top: 0;
	float: right;
	padding-left: 8px;
	padding-left: 8px;
}

.ow_console_item, .ow_console_item:last-child {
	display: inline-block;
	position: relative;
}

.ow_console_right li {
	padding: 0;
}

.ow_console_item a {
	display: inline-block;
	text-decoration: none;
	padding: 1.4em;
	color: #fff;
}

.ow_console_item a:hover {
	text-decoration: underline;
	background-color: #3bb0ff;
}

.ow_console_item ul {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 4em;
	background-color: #2196F3;
}

.ow_console_item:hover ul {
	display: block;
}

.ow_console_item ul a {
	width: 100%;
	padding: .7em 1.4em;
}

.ow_footer {
	margin-top: 90px;
}

.ow_footer .ow_canvas {
	padding-top: 1.5em;
}

#content {
    padding: 0.5em;
    max-width: 50em;
}

ul.error {
    background: #ffaaaa;
    border: 1px solid #ff0000;
    padding: 0.5em;
    padding-left: 1.5em;
}

.login th {
    text-align: left;
}

div.login p {
    margin-top: 0;
}

pre {
    padding: 1em;
    border: 1px solid black;
    background: #ffeebb;
}

#checkup {
    background: url('http://openid.net/favicon.ico') no-repeat;
    padding-left: 16px;
}

form table td.buttons {
	text-align: center;
	padding-top: 16px;
}

form th, form td {
	text-align: left;
	border: 0;
}

input {
	-width: 20em;
}

.uuid {
	font-family: monospace;
}

#msg-flash, .errors {
	padding: 15px;
	margin: 20px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#msg-flash.success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

#msg-flash.danger, .errors {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}